---

section: home
type: home
layout: home
---


<h2>Launch Weeks</h2>

<ul class="cards events">
  {% for event in site.events %}
  <li class="card">
    <a class="card__link" href="{{ event.url }}">
      <h3 class="card__title">{{ event.title }}</h3>
      {% if event.image %}<img class="card__image" src="/media/{{ event.image}}" alt="" />{% endif %}
      <p class="card__dates"><time datetime="{{ event.startDate }}">{{ event.startDate | date_to_long_string }}</time> - <time datetime="{{ event.startDate }}">{{ event.finishDate | date_to_long_string }}</time></p>
    </a>
  </li>
  {% endfor %}
</ul>

<h2>Companies</h2>

<ul class="cards companies">
  {% for company in site.companies %}
  <li class="card">
    <a href="{{ company.url }}" class="card__link">
      <h3 class="card__title">{{ company.title }}</h3>
      {% if company.image %}<img class="card__image" src="/media/{{ company.image}}" alt="" />{% endif %}
    </a>
    {% if company.events %}
      <ul>
        {% for event in company.events %}
        <li>
          <a href="{{ event.url }}" class="card__title">
            {{ event.title }}
            {% if event.image %}<img class="card__image" src="/media/{{ event.image}}" alt="" />{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>

