---
section: home
type: home
layout: home
---

{% assign eventsByYear = site.events | sort: 'start' | reverse | group_by_exp:"post", "post.start | date: '%Y'" %}


<header class="header">
  <h1>Launch Weeks</h1>
  <p>Tracking past and upcoming launch weeks across the dev tools space</p>
  <p><a href="/guide">The Launch Weeks Guide</a></p>
  <ul class="years">
    {% for year in eventsByYear %}
    <li class="year">
      <a class="year__link" href="#{{ year.name }}">{{ year.name }}</a>
    </li>
    {% endfor %}
  </ul>
</header>


{% for year in eventsByYear %}
<h2 id="{{ year.name }}">{{ year.name }}</h2>
  <ul class="cards events">
    {% for event in year.items %}
    <li class="card">
      <div class="card__description">
        <h3 class="card__title">{{ event.title }}</h3>
        <p class="card__dates"><time datetime="{{ event.start }}">{{ event.start | date_to_long_string }}</time> - <time datetime="{{ event.start }}">{{ event.finish | date_to_long_string }}</time></p>
        <ul class="card__links">
          {% if event.launchpage %}
          <li>
            <a class="card__link" href="{{ event.launchpage }}">🚀 Launch page</a>
          </li>
          {% endif %}
          {% if event.announcement %}
          <li>
            <a class="card__link" href="{{ event.announcement }}">📣 Announcement</a>
          </li>
          {% endif %}
          {% if event.recap %}
          <li>
            <a class="card__link" href="{{ event.recap }}">📄 Recap</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if event.image %}<img class="card__image" src="{{ event.image }}" alt="" />{% endif %}
    </li>
    {% endfor %}
  </ul>
  
{% endfor %}




<!--<header class="header">
  <h2>Companies</h2>
</header>

<ul class="cards companies">
  {% for company in site.companies %}
  <li class="card">
    <a href="{{ company.url }}" class="card__link">
      <div class="card__description">
        <h3 class="card__title">{{ company.title }}</h3>
        <p class="card__meta">Launch weeks: {{ company.events | size }}</p>
      </div>
      {% if company.image %}<img class="card__image" src="{{ company.image }}" alt="" />{% endif %}
    </a>
    {% if company.events %}
      <ul>
        {% for event in company.events %}
        <li>
          <a href="{{ event.url }}" class="card__title">
            {{ event.title }}
            {% if event.image %}<img class="card__image" src="{{ event.image}}" alt="" />{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>-->

