
body{ 
  background-color: #333;
  color: #fff;
  background: rgb(143,40,133);
  background: url("/assets/stars.png"), linear-gradient(0deg, rgba(143,40,133,1) 0%, rgba(24,48,94,1) 23%, rgba(70,81,113,1) 100%);
  background-attachment: fixed;
  background-blend-mode: screen;
}

h1,
h2,
article > h1,
section > h1,
nav > h1 {
	color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color:  #1d7bb4;
  border-bottom: 1px solid #1d7bb4;
  font-weight: bold;
}
a:hover,
a:focus,
a:active {
  color: #6bc7ff;
  border-bottom-color: #6bc7ff;
}

header,
footer {
  border: none;
}

.site-header {
  padding: 2em 0 1em 0;
  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: #fd36c3;
    font-weight: bold;
    border-bottom-color: #fd36c3;
  }
  a:hover,
  a:focus,
  a:active {
    color: #ff8bdd;
    border-bottom-color: #ff8bdd;
  }
}



.title {
  padding: 0 20px;
}

.content,
.site-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer {
  margin-top: 5em;
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em 1%;

}

.card {
  background-color: #fff;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8em;
  position: relative;
  word-wrap: break-word;
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @media (min-width: 550px) {
    width: calc(50% - 2px - 0.5%);
  }
  @media (min-width: 800px) {
    width: calc(32.8% - 2px);
  }
  @media (min-width: 1200px) {
    width: 24.25%;
  }
}

.card__links {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  gap: 0 0.5em;
  flex-wrap: wrap;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    &:after {
      content: "•";
      margin: 0 0.25em 0 0.5em;
    }
    &:last-of-type:after {
      content: "";
      margin: 0;
    }
  }
}

.card__links li {
  
  
  
}

.card__image {
  order: 1;
  border-radius: 4px 4px 0 0;
}

.card__description {
  padding: 0 20px;
  order: 2;
  margin: 0 0 0.5em;
}

.card__title {
    margin: 0.5em 0 0.25em;
    font-size: 1.2em;
}

.card__dates {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}




.companies {
  .card {
    width: 250px;
  }
  .card__link {
    flex-direction: row;
  }
  .card__image {
    width: 100px;
    height: 100px;
    order: 1;
    border-radius: 4px 0 0 4px;
  }
  .card__description {
    order: 2;
  }

}



.years {
  margin: 2em 0 0 0;
  padding: 0;
  color: #333;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  gap: 0 0.5em;
  flex-wrap: wrap;
  color: #fff;
  .year {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    &:after {
      content: "•";
      margin: 0 0.25em 0 0.5em;
    }
    &:last-of-type:after {
      content: "";
      margin: 0;
    }
  }
}

