{% include head.html %}

<h1 class="title">{{ page.title }}</h1>

{% if page.image %}<img class="card__image" src="/media/{{ page.image}}" alt="" />{% endif %}

    {% if company.events %}
      <ul>
        {% for event in company.events %}
        <li>
          <a href="{{ event.url }}" class="card__title">
            {{ event.title }}
            {% if event.image %}<img class="card__image" src="/media/{{ event.image}}" alt="" />{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}


{{content}}